#navigationbar {
    padding: 1em;
    margin: 0;
    background-color: #222222;
}
a {
    font-size: 1em;
    margin: 0;
    color: white;
    text-decoration: none;
    padding: 1em;
    font-family: sans-serif;
}
a:hover {
    background-color: orange;

}
a:active {
    color: red;
}
a.active {
    background-color: #00673b;
}
body {
    margin: auto;
    background-color: #424242;
}
p {
<<<<<<< HEAD
    margin: 1em;
}

/*------------------------------------------------*/
/*----------------REG-box-------------------------*/
/*------------------------------------------------*/


.reg-box{
    background-color: #ffffff;
    height: 500px;
    width: 300px;
    margin: 10px 0px 0px 20px;
}

.reg-box p {
    color: black;
    font-size: 15px;
=======
    margin: 0.5em 2em;
>>>>>>> 0ee650fc0d91511df5523f0f22e712e4f99676e0
}